{% if notification %}<p>{{ notification }}</p>{% endif %}

<form action="{% url 'fitshare:create_workout_submit' %}" method="post">
  {% csrf_token %}
  <label for="workout_name">Workout name</label><br>
  <input type="text" id="workout_name" name="workout_name"><br>
  <label for="workout_type">Workout type</label><br>
  <input type="text" id="workout_type" name="workout_type"><br>
  <label for="user_alias">Guest name</label><br>
  <input type="text" id="workout_useralias" name="workout_useralias"><br>
  <div id="exercise_section">
    <input type="button" id="add_exercise" name="add_exercise" value="Add exercise" onclick="addExercise()"></button><br>
  </div>
  <input type="submit" value="Submit">
</form>

<script>
  var workout_e_count = 0;

  function addExercise() {
    var exercise = `
      <label for="exercise_name${workout_e_count}">Exercise name</label><br>
      <select id="exercise_name${workout_e_count}" name="exercise_name${workout_e_count}">
        {% for exercise in exercises_context %}
        <option value="{{ exercise.name }}">{{ exercise.name }}</option>
        {% endfor %}
      </select><br>
      <label for="workout_e_description${workout_e_count}">Description</label><br>
      <input type="text" id="workout_e_description${workout_e_count}" name="workout_e_description${workout_e_count}"><br>
      <label for="reps${workout_e_count}">Reps</label><br>
      <input type="text" id="reps${workout_e_count}" name="reps${workout_e_count}"><br>
      <label for="sets${workout_e_count}">Sets</label><br>
      <input type="text" id="sets${workout_e_count}" name="sets${workout_e_count}"><br>
    `;
    document.getElementById("exercise_section").insertAdjacentHTML('beforeend', exercise);
    workout_e_count = workout_e_count + 1
  }
</script>
