{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'fitshare/style.css' %}">

{% for workout, workout_exercises in new_workout_list.items %}
<p>
  Workout name: {{ workout.name }} <br>
  Workout type: {{ workout.type }} <br>
  Workout guest name: {{ workout.user_alias }} <br>
  Workout updated date: {{ workout.updated_date }} <br>
  <br>
    {% for exercise in workout_exercises %}
      Exercise name: {{ exercise.exercise_id.name }} <br>
      Exercise type: {{ exercise.exercise_id.type }} <br>
      Exercise target: {{ exercise.exercise_id.target }} <br>
      Exercise utility: {{ exercise.exercise_id.utility }} <br>
      Exercise mechanic: {{ exercise.exercise_id.mechanic }} <br>
      Exercise force: {{ exercise.exercise_id.force }} <br>
      Exercise preparation: {{ exercise.exercise_id.preparation }} <br>
      Exercise execution: {{ exercise.exercise_id.execution }} <br>
      Exercise description: {{ exercise.desc }} <br>
      Sets: {{ exercise.sets }} <br>
      Reps: {{ exercise.reps }} <br>
      <br>
    {% endfor %}
    <hr>
</p>
<br>
{% endfor %}
