{% extends "base.html" %}

{% block content %}

<div class="view_workout_user">
  <!--<img src="https://i.imgur.com/zZPJOJR.jpg" alt="Guest image">-->
  <span>Created by <a href="/fitshare/user/{{ workout_user.id }}">{{ workout_user.username }}</a></span>
</div>
<div class="view_workout_one">
  <div class="view_workout_one1">
    <span>Workout name: {{ workout.name }}</span>
    <span>Type: {{ workout.type }}</span>
  </div>
  {% for w in workout_e %}
  <div class="view_workout_one2">
    <span>Exercise name: {{ w.exercise_id.name }}</span>
    <span>Sets: {{ w.sets }}</span>
    <span>Reps: {{ w.reps }}</span>
  </div>
  {% endfor %}
</div>

{% endblock content %}
