html, body {
  height: 100%;
  margin: 0;

  font-family: Sans-Serif;
}

.row {
  height: 100%;
  display: flex;
}

.column1 {
  flex: 25%;
  height: 100%;
  background: #333333;
  color: white;
}

.column2 {
  flex: 75%;
  height: 100%;
  background: white;
}

.navigation {
  background: #c83737;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.fitshare {
  font-size: 30px;
}

.fitshare a {
  text-decoration: none;
  color: white;
}

.recent_workouts {
  font-size : 24px;
  text-align: center;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.recent_workouts a {
  text-decoration: none;
  color: white;
}

.workout {
  font-size : 24px;

  background-color: #67536c;
  border-style: solid;
  border-color: black;
  border-width: thin;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.workout a {
  text-decoration: none;
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 25%;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: white;
}

.create_workout1 {
  background-color: #de8787;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  border-style: solid;
  border-color: black;
  border-width: thin;
}

.create_workout2 {
  background-color: #f4d7d7;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  border-style: solid;
  border-color: black;
  border-width: thin;
}

.add_exercise_button {
  background-color: #53536c;
  color: white;

  cursor:pointer;

  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

  border-radius: 10px;
  border-color: #53536c;
}

.save_as_guest_button {
  background-color: #c83737;
  color: white;

  cursor:pointer;

  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

  border-radius: 10px;
  border-color: #c83737;
}

.save_as_user_button {
  background-color: #c83737;
  color: white;

  cursor:pointer;

  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

  border-radius: 10px;
  border-color: #c83737;
}

.view_workout_user {
  background-color: #ffe680ff;

  text-align: center;
  font-size: 24px;

  flex: 25%;
  height: 100%
}

.view_workout_user img {
  width: 100px;
  height: 100px;
}

.view_workout_one {
  background-color: #f4d7d7;

  flex: 50%;
  height: 100%
}

.view_workout_one1 {
  background-color: #de8787;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  border-style: solid;
  border-color: black;
  border-width: thin;
}

.view_workout_one2 {
  background-color: #f4d7d7;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  border-style: solid;
  border-color: black;
  border-width: thin;
}

.workouts_all {
  flex: 75%;
  height: 100%;
  background: white;
}

.workouts_all_header {
  background-color: #de8787;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  border-style: solid;
  border-color: black;
  border-width: thin;
}

.workouts_all_row {
  background-color: #f4d7d7;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  border-style: solid;
  border-color: black;
  border-width: thin;
}

.user_profile1 {
  flex: 25%;
  height: 100%;
  background-color: #ffe680ff
}

.user_profile2 {
  flex: 50%;
  height: 100%;
  background-color: #f4d7d7;
}
